* {
  outline: 1px solid red;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} 


.grid-container, .row-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-box, .grid-column{
  width: 2rem;
  height: 2rem;
  min-width: 1rem;
  min-height: 1rem;
  background-color: blue;
  display: inline-block;
} 