@font-face {
    font-family: "LCD";
    src: url('lcd.ttf');
  }
  
  * {
    outline: 1px solid red;
    font-size: 1.6rem;
    font-family: LCD;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  } 
  
  .page-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
  }

  .board {
    display: grid;
    align-self: center;
    width: 960px;
    height: 960px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: blue;
  }
  
  .grid-box {
    background-color: blue;
  }
  
  .btn-container {
    margin-top: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
  }
  
  .grid-btn {
    width: 7rem;
    max-width: 7rem;
    font-size: .8rem;
    padding: .2rem;
  }